<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioUrl</key>
	<string>https://audioguidegeorgia.com/uploads/audio/</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Audio Guide</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1900492730182984</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>${CURRENT_PROJECT_VERSION}</string>
	<key>FacebookAppID</key>
	<string>1900492730182984</string>
	<key>FacebookDisplayName</key>
	<string>AudioGuideGeorgia</string>
	<key>HostUrl</key>
	<string>https://audioguidegeorgia.com/api</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>ImagesUrl</key>
	<string>https://audioguidegeorgia.com/uploads/images/</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MGLMapboxAccessToken</key>
	<string>pk.eyJ1IjoiZ2V0c28xOTg1IiwiYSI6ImNqMDc0OHg1ZjAwMnYzM2xrZHI1b244ajcifQ.MQhKciSRLHTGZ7M9ZyN8eA</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Need access camera</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Need location service</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Need access photo Library</string>
	<key>RoutInfo</key>
	<array>
		<array>
			<real>44.721527</real>
			<real>41.717406</real>
		</array>
		<array>
			<real>44.718679</real>
			<real>41.717346</real>
		</array>
		<array>
			<real>44.718395</real>
			<real>41.717354</real>
		</array>
		<array>
			<real>44.718207</real>
			<real>41.71741</real>
		</array>
		<array>
			<real>44.718057</real>
			<real>41.717502</real>
		</array>
		<array>
			<real>44.717944</real>
			<real>41.71762</real>
		</array>
		<array>
			<real>44.717842</real>
			<real>41.717762</real>
		</array>
		<array>
			<real>44.717826</real>
			<real>41.717904</real>
		</array>
		<array>
			<real>44.717867</real>
			<real>41.718945</real>
		</array>
		<array>
			<real>44.71785</real>
			<real>41.71909</real>
		</array>
		<array>
			<real>44.717612</real>
			<real>41.720053</real>
		</array>
		<array>
			<real>44.717948</real>
			<real>41.720092</real>
		</array>
		<array>
			<real>44.717531</real>
			<real>41.722505</real>
		</array>
		<array>
			<real>44.719291</real>
			<real>41.722691</real>
		</array>
		<array>
			<real>44.722607</real>
			<real>41.723012</real>
		</array>
		<array>
			<real>44.722712</real>
			<real>41.723137</real>
		</array>
		<array>
			<real>44.723175</real>
			<real>41.723498</real>
		</array>
		<array>
			<real>44.724286</real>
			<real>41.723593</real>
		</array>
		<array>
			<real>44.723853</real>
			<real>41.726066</real>
		</array>
		<array>
			<real>44.726822</real>
			<real>41.726355</real>
		</array>
		<array>
			<real>44.73002</real>
			<real>41.726687</real>
		</array>
		<array>
			<real>44.73221</real>
			<real>41.726874</real>
		</array>
		<array>
			<real>44.732073</real>
			<real>41.72723</real>
		</array>
		<array>
			<real>44.731901</real>
			<real>41.727782</real>
		</array>
		<array>
			<real>44.731983</real>
			<real>41.727928</real>
		</array>
		<array>
			<real>44.732051</real>
			<real>41.727989</real>
		</array>
		<array>
			<real>44.732326</real>
			<real>41.728086</real>
		</array>
		<array>
			<real>44.732938</real>
			<real>41.728186</real>
		</array>
		<array>
			<real>44.733555</real>
			<real>41.728336</real>
		</array>
		<array>
			<real>44.735339</real>
			<real>41.728829</real>
		</array>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>dinpro-regular.otf</string>
		<string>dinpro-light.otf</string>
		<string>museo500-regular.otf</string>
		<string>dinpro-medium.otf</string>
		<string>DINPro-Bold.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>NotoSansGeorgian-Regular.ttf</string>
		<string>NotoSansGeorgian-Bold.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
